@import url("https://fonts.googleapis.com/css?family=Open+Sans");
p {
  color: #ED7801;
  font: 14px "Arial", "Tahoma"; }

h1 {
  color: #762823;
  font: 36px "Open Sans", "Arial", "Tahoma";
  font-weight: 900;
  text-shadow: 1px 1px 2px #000; }

h1::after {
  content: "";
  border: 5px solid #ED7801;
  width: 100px;
  display: block;
  margin: 20px auto; }

h2 {
  color: #762823;
  font: 24px "Open Sans", "Arial", "Tahoma"; }

nav ul {
  float: right;
  margin: 30px 10px; }
  nav ul li {
    display: inline; }
    nav ul li a {
      color: #ED7801;
      text-decoration: none;
      padding: 10px 20px;
      font: 18px "Open Sans", "Arial", "Tahoma";
      transition: all 0.5s;
      font-weight: 700px; }
      nav ul li a:hover {
        background: #762823; }

header {
  background: url(../images/header.jpg);
  width: 100%;
  height: 600px; }

body {
  margin: 0; }

.logo {
  margin: 10px;
  float: left; }

.msg {
  float: left;
  width: 400px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 20px;
  padding: 50px;
  border-radius: 5px; }
  .msg p {
    color: #fff; }

.max {
  float: right;
  margin: -50px 20px; }

.clear {
  clear: both; }

.center {
  text-align: center; }

.titulo {
  background: #762823;
  text-align: center;
  padding: 20px 0; }
  .titulo h1 {
    color: #ED7801; }

.container {
  width: 960px;
  margin: auto; }

.linha {
  display: flex;
  flex-wrap: wrap; }

.item {
  flex: 1;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 5px;
  text-align: center;
  transition: all 0.5s;
  color: #fff; }
  .item:hover {
    border-color: #762823; }
  .item img {
    width: 160px; }
  .item i {
    font-size: 50px;
    color: #branco;
    margin: 20px; }

.branco p {
  color: #fff; }

.itemfooter {
  flex: 1;
  margin: 10px;
  text-align: left; }
  .itemfooter h3 {
    color: #fff;
    font: 22px "Open Sans", "Arial", "Tahoma"; }
  .itemfooter a {
    color: orange; }
  .itemfooter ul {
    list-style-type: none; }

.borda {
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 5px;
  background: #fff; }

#local {
  background: url(../images/fogo.jpg) fixed no-repeat;
  padding: 40px 0;
  float: left;
  width: 100%;
  background-size: cover; }

#destaques {
  float: left;
  width: 100%;
  height: 350px; }

#promocoes {
  background: url(../images/bg.jpg) no-repeat;
  padding: 40px 0;
  float: left;
  width: 100%;
  background-size: contain;
  background-position: center; }
  #promocoes img {
    width: 20%; }

#bacon {
  background: url(../images/bacon.jpg);
  float: left;
  width: 100%;
  height: 150px;
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x; }

#rodape {
  background: #2D2D2D;
  float: left;
  width: 100%;
  height: auto; }

#menu {
  border: 1px solid #762823;
  color: #762823;
  padding: 10px;
  float: right;
  margin: 20px;
  display: none; }

.btn {
  background: #ED7801;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  transition: all 0.5s;
  text-decoration: none;
  font-size: 0.8em; }

.btn:hover {
  color: #ED7801;
  background: #762823;
  text-decoration: none; }

@media (min-width: 480px) and (max-width: 800px) {
  nav ul {
    width: 100%;
    float: left;
    background: #fff;
    display: none; }
    nav ul li {
      display: block; }
      nav ul li a {
        padding: 20px 0;
        font-size: 20px;
        float: left;
        width: 100%; }

  #menu {
    display: block; }

  .container {
    width: 400px; }

  .msg {
    width: 350px;
    padding: 10px; }

  .max {
    display: none; } }

/*# sourceMappingURL=estilo.css.map */
